@use "vars";

.GlassDetail {
    background-color: rgba(5, 7, 12, 0.75);
    width: 100%;
    height: 1450px;
    position: absolute;
    display: flex;
    justify-content: center;
    right: 0;
    top: 0;
}

.AccProductDetail {
    width: 420px;
    top: 90px;
    padding: 20px;
    position: absolute;
    background-color: #4162A1;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}

.ProductDetail-close-acc {
    background: black;
    width: 14px;
    height: 14px;
    position: absolute;
    top: 24px;
    left: 24px;
    z-index: 2;
    padding: 12px;
    border-radius: 50%;
}

.ProductDetail-close-acc:hover {
    cursor: pointer;
}

.ProductDetail-close-acc>img:nth-child(1) {
    width: 100%;
    height: 100%;
    border-radius: 0px;
}

.AccProductDetail>img:nth-child(2) {
    width: 90%;
    height: 80%;
    border-radius: 20px;
}

@media (max-width: 640px) {
    .AccProductDetail {
        width: 100%;
    }

    .AccProductDetail>img:nth-child(2) {
        width: 90%;
        height: 90%;
    }
}