.company{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}
.description {
    width: auto;
    height: auto;
    padding: 10px;
    text-align: center;
}
@media (max-width:640px){
    .company img{
        width: auto;
        height: auto;
    }
 }