.secondannouncement {
    display: grid;
    grid-template-columns: auto 55%;
    grid-template-rows: minmax(auto, 500px);
    background-color: silver;
}
.secondimage img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.Linksecond {
    display: grid;
    grid-template-columns: auto;
    align-content: center;
    justify-items: center;
    text-align: center;
    margin: 10px;
    
}
.Linksecond h1 {
    color: black;
    margin: 5px;
    font-size: 35px;
}
.Linksecond a {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    font-size: 30px;
    padding: 8px;
    border-radius: 8px;
}

@media (max-width: 640px) {
    .secondannouncement {
        grid-template-columns: auto;
    }

    .secondimage img {
        width: 100%;
        height: 100%;
    }

    .Linksecond {
        justify-items: center;
        padding: 20px;
    }

    .Linksecond h1 {
        width: 280px;
        height: 20px;
        margin: 5px;
        font-size: 20px;
    }

    .Linksecond a {
        font-size: 20px;
        bottom: 0px;
        right: 0px;
        width: 130px;
        height: 25px;
    }
}