.thirdannouncement {
    display: grid;
    grid-template-columns: auto 55%;
    grid-template-rows: minmax(auto, 500px);
    background-color: lightsalmon;
}
.thirdimage img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.Linkthird {
    display: grid;
    grid-template-columns: auto;
    align-content: center;
    justify-items: center;
    text-align: center;
    margin: 10px;
}
.Linkthird h1 {
    margin: 5px;
    font-size: 38px;
}

.Linkthird p {
    color: black;
}

.Linkthird a {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    font-size: 30px;
    padding: 8px;
    border-radius: 8px;
}

@media (max-width: 640px) {
    .thirdannouncement {
        grid-template-columns: auto;
    }

    .thirdimage img {
        width: 100%;
        height: 100%;
    }

    .Linkthird {
        justify-items: center;
        padding: 20px;
    }

    .Linkthird h1 {
        width: 220px;
        height: 20px;
        margin: 5px;
        font-size: 20px;
    }

    .Linkthird a {
        font-size: 20px;
        bottom: 0px;
        right: 0px;
        width: 145px;
        height: 25px;
    }
}